.brand-color{
        color: rgb(0, 247, 0);
}
.brand-bg{
}
.brand-btn{
        background-color: rgb(0, 247, 0);
        font-weight: bold;
        border: 2px solid green;
        font-size: 18px;
        color: black;
}
.login-btn{
        background-color: rgb(0, 247, 0);
        font-weight: bold;
        border: 2px solid green;
        font-size: 18px;
        color: black;  
}
.brand-btn:hover{
        transform: scale(1.1);
        transition: transform .3s ease-in-out;
}